<section class="content-header">
  <h1>关于茶 <small>茶知识</small></h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a ui-sref="app.teacollections">茶知识</a></li>
    <li class="active">修改茶知识</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">修改茶知识</h3>
        </div>
        <form class="form-horizontal" name="teacollectionForm" ng-submit="vm.save(teacollectionForm.$valid)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': teacollectionForm.title.$invalid && ( vm.formSubmitted || teacollectionForm.title.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.teacollection.data.title" name="teacollection" placeholder="title" required>
                <p ng-show="teacollectionForm.title.$error.required && ( vm.formSubmitted || teacollectionForm.title.$touched)" class="help-block">标题 is required.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': teacollectionForm.content.$invalid && ( vm.formSubmitted || teacollectionForm.content.$touched) }">
              <label for="inputPassword3" class="col-sm-2 control-label">内容</label>
              <div class="col-sm-10">
                <textarea froala="froalaOptions" class="form-control" ng-model="vm.teacollection.data.content" name="content" placeholder="内容" required></textarea>
                <!--<input type="text" class="form-control" ng-model="vm.teacollection.data.content" name="content" placeholder="content" required>-->
                <p ng-show="teacollectionForm.content.$error.required && ( vm.formSubmitted || teacollectionForm.content.$touched)" class="help-block">内容 is required.</p>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <a ui-sref="app.teacollections" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back</a>
            <button type="submit" class="btn btn-primary pull-right">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
